test-workflow-antigravity.json
{
    "name": "🧪 Test Workflow - Antigravity Integration",
    "nodes": [
        {
            "id": "webhook-1",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ],
            "parameters": {
                "httpMethod": "POST",
                "path": "test-antigravity",
                "responseMode": "responseNode"
            }
        },
        {
            "id": "code-1",
            "name": "Process Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                450,
                300
            ],
            "parameters": {
                "jsCode": "const input = $input.first().json;\nconst timestamp = new Date().toISOString();\n\nreturn [{\n  json: {\n    message: \"Processed by Antigravity Integration\",\n    originalData: input,\n    processedAt: timestamp,\n    status: input.value > 50 ? \"high\" : \"low\"\n  }\n}];"
            }
        },
        {
            "id": "if-1",
            "name": "Check Status",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                650,
                300
            ],
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "condition-1",
                            "leftValue": "={{ $json.status }}",
                            "rightValue": "high",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            }
        },
        {
            "id": "set-high",
            "name": "High Priority Response",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                850,
                200
            ],
            "parameters": {
                "mode": "manual",
                "duplicateItem": false,
                "assignments": {
                    "assignments": [
                        {
                            "id": "assign-1",
                            "name": "priority",
                            "value": "🔴 HIGH",
                            "type": "string"
                        },
                        {
                            "id": "assign-2",
                            "name": "action",
                            "value": "Immediate attention required",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": true
            }
        },
        {
            "id": "set-low",
            "name": "Low Priority Response",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                850,
                400
            ],
            "parameters": {
                "mode": "manual",
                "duplicateItem": false,
                "assignments": {
                    "assignments": [
                        {
                            "id": "assign-3",
                            "name": "priority",
                            "value": "🟢 LOW",
                            "type": "string"
                        },
                        {
                            "id": "assign-4",
                            "name": "action",
                            "value": "Standard processing",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": true
            }
        },
        {
            "id": "respond-1",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1050,
                300
            ],
            "parameters": {
                "respondWith": "allIncomingItems"
            }
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Process Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Data": {
            "main": [
                [
                    {
                        "node": "Check Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Status": {
            "main": [
                [
                    {
                        "node": "High Priority Response",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Low Priority Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "High Priority Response": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Low Priority Response": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}